name: Test Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Bazel
        uses: bazelbuild/setup-bazelisk@v3

      - name: Mount cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel

      - name: Build all targets
        run: bazel build --verbose_failures //...

      - name: Run tests
        run: bazel test --test_output=all //tests:all_tests

      # TODO(add coverage)
